body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: black;
}

.App {
  color: white;
}

.title-and-addtodo-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-and-addtodo-container h1 {
  margin: 0;
}

.title-and-addtodo-container input[type="text"] {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.title-and-addtodo-container button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.title-and-addtodo-container button:hover {
  background-color: #0069d9;
}


#todo-input{
  height: 2rem;
}

.todoItem{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  padding: 8px;
}

.todoItem > h2{
  width: 80%;
  font-size: 1.2rem;
  font-weight: bold;
}

.todoItem > input[type='checkbox']{
  transform: scale(1.2);
}

.todoItem > button{
  background-color: white;
  color: black;
  margin-left: 8px;
  border-radius: 50%;
}

.deleteAllButton{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.selectAllButton{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
}